<div>
  <button (click)="decrement(1)">-</button>
  {{ value1 }}
  <button (click)="add(1)">+</button>
</div>
<div>
  <button (click)="decrement(2)">-</button>
  {{ value2 }}
  <button (click)="add(2)">+</button>
</div>
